* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DARK MODE / LIGHT MODE */

:root {
    --main-bg: rgb(231, 231, 231);
    --pantalla-bg: rgb(240, 240, 240);
    --pantalla-text: rgb(20, 20, 20);

    --teclas-bg: rgb(210, 210, 210);
    --operadores-bg: rgb(170, 170, 170);

    --text-color: black;

    --body-bg: rgb(255, 255, 255);
}


.dark {
    --main-bg: rgb(49, 49, 49);
    --pantalla-bg: rgb(37, 37, 37);
    --pantalla-text: white;

    --teclas-bg: rgb(99, 107, 104);
    --operadores-bg: rgb(43, 43, 46);

    --text-color: white;

    --body-bg: rgb(0, 0, 0);
}



/* CALCULATOR */

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: var(--body-bg);
}

main {
    background-color: var(--main-bg);
    width: 400px;
    height: 100%;
}

.contenedor-calcu {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.contenedor-pantalla {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pantalla {
    background-color: var(--pantalla-bg);
    color: var(--pantalla-text);
    height: 80px;
    width: 480px;
    font-size: 50px;
    font-family: "Share Tech Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 10px;
    overflow: scroll;
    white-space: nowrap; 
    overflow: hidden;         
    text-overflow: ellipsis; 
}

.contenedor-botones {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg);
    display: flex;

}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    align-content: flex-end;
}

.operadores {
    display: flex;
    flex-direction: column;
    
    align-content: flex-start;
    margin: 0;
}


.botones button,
.operadores button {
    height: 90px;
    width: 90px;
    font-size: 30px;
    margin: 2px;
    color: var(--text-color);
}

.botones button {
    background-color: var(--teclas-bg);
}

.operadores button {
    background-color: var(--operadores-bg);
}

.botonPip {
    display:flex;
    justify-content: center;
    align-items: center;
}

.pipe {
    height: 50px;
    width: auto;
}