* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

main {
    background-color: rgb(49, 49, 49);
    width: 500px;
    height: 100%;
}

.contenedor-calcu {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.contenedor-pantalla {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pantalla {
    background-color: rgb(37, 37, 37);
    height: 80px;
    width: 450px;
}

.contenedor-botones {
    height: 100%;
    width: 100%;
    background-color: rgb(70, 70, 70);
    display:flex;
}

.botones {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.operadores {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botones button,
.operadores button {
    height: 90px;
    width: 90px;
    margin: 10px;
    font-size: 30px;
}

.botones button {
    background-color: rgb(99, 107, 104);
}

.operadores button {
    background-color: rgb(43, 43, 46);
}

