* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

main {
    background-color: rgb(49, 49, 49);
    width: 500px;
    height: 100%;
}

.contenedor-calcu {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.contenedor-pantalla {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pantalla {
    background-color: rgb(37, 37, 37);
    height: 80px;
    width: 480px;
    font-size: 50px;
    color: white;
    font-family: "Share Tech Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}

.contenedor-botones {
    height: 510px;
    width: 100%;
    background-color: rgb(70, 70, 70);
    display: flex;

}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    align-content: flex-start;
}

.operadores {
    display: flex;
    flex-direction: column;
    
    align-content: flex-start;
    margin: 0;
}


.botones button,
.operadores button {
    height: 90px;
    width: 90px;
    font-size: 30px;
    margin: 2px;
}

.botones button {
    background-color: rgb(99, 107, 104);
}

.operadores button {
    background-color: rgb(43, 43, 46);
}