* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

main {
    background-color: bisque;
    width: 500px;
    height: 800px;
}

.contenedor-pantalla {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.pantalla {
    background-color: rgb(37, 37, 37);
    height: 80px;
    width: 450px;
}

.contenedor-botones {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

.botones {}

.botones div,
.operadores div {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.botones div {
    background-color: aquamarine;
}

.operadores div {
    background-color: blue;
}